* {
    margin: 0;
}

.main-container {
    margin-top: 1rem;
    display: flex;
    /* /* justify-content: center; */
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#reset_game {
    /* display: none; */
}

#winning_message {
    display: none;
}

#myCanvas, #myCanvas3 {
    border: 1px solid black;
}

#myCanvas2 {
    border: 1px solid black;
}