* {
    margin: 0;
}

.main-container {
    margin-top: 1rem;
    display: flex;
    /* /* justify-content: center; */
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset_game {
    /* display: none; */
}

#winning_message {
    display: none;
}

#myCanvas {
    border: 1px solid black;
}